*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main
{
    border: 1px solid aquamarine;
    padding: 3%;
    margin: 2%;
    background-color: antiquewhite;
}
button
{
    background-color: cornflowerblue;
    color: white;
    border-radius: 10%;
    border: none;
}
button:hover
{
    cursor: pointer;
    background-color: rgb(14, 157, 234);
}